nav.navbar.navbar-expand {
  justify-content: stretch;
  background-color: rgb(233, 185, 169);
  border-radius: 30px;
}

a.navbar-brand {
  font-size: 150px;
  font-family: Optima, sans-serif;
  font-weight: bold;
}

input {
  width: 60%;
  height: 40%;
  border-radius: 30px;
  border: 0px;
}

.search {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  border: 0px;
  background-color: white;
  margin-left: 10px;
  font-size: 30px;
}

a.nav-link {
  margin-left: 100px;
  font-size: 60px;
  font-family: Optima, sans-serif;
}
